/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

/* == Body styles == */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

/* Header / Banner styles */
.banner {
  background: #5000ca22;
  padding: 2rem;
}

/* Main styles */
main {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block: 3rem;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
}

section header {
  display: grid;
  gap: 1rem;
}

section header p {
  color: hsl(264 10% 40%);
}

@media (min-width: 601px) {
  section {
    grid-template-columns: 1fr 2fr;
  }
}

a {
  color: #5000ca;
  text-decoration: none;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #5000ca;
}
